{% extends "layout/basic.html" %}
{% load bootstrap4 %}

{% block title %}Добавление объявления{% endblock %}

{% block content %}
    <h2>Добавление объявления</h2>

    {% if form.is_multipart %}
        <form action="" method="post" enctype="multipart/form-data" class="col-md-4">
    {% else %}
        <form action="" method="post" class="col-md-4">
    {% endif %}
        {% csrf_token %}

        {% bootstrap_form form layout="horizontal" %}
        {% buttons submit='Добавить' %}{% endbuttons %}

    </form>
{% endblock %}