{% extends "layout/basic.html" %}

{% block content %}
<pre>
{{ True|yesno|ljust:20 }},
{{ False|yesno|center:20 }},
{{ None|yesno|rjust:20 }}
</pre>

    {{ 123456789|get_digit:2 }}

    {% filter linebreaks %}
    {{ True|yesno }},
    {{ False|yesno }},
    {{ None|yesno }}

    {{ True|yesno:'так точно,никак нет,дело тёмное' }}
    {% endfilter %}

    <ul>{{ 'Python'|cut:'t'|make_list|unordered_list }}</ul>

    <ul>
        {{ ulist|unordered_list }}
    </ul>

{#    <h1>{{ test_var }}</h1>#}

{#% filter force_escape|upper %#}
{% filter upper %}
    {% if user.is_authenticated %}
    <h3>
        <a href="{% url 'authapp:logout' %}">
            Выйти ({{ user.username }})
        </a>
    </h3>
    {% else %}
        <h3>
            <a href="{% url 'authapp:login' %}">
                Войти
            </a>
        </h3>
    {% endif %}
{% endfilter %}

    <p>Первое объявление: {{ bbs.0.title }}</p>

    {% with bb_count=bbs.count %}
        {% if bb_count > 0 %}
            <p>Всего {{ bb_count }} объявлений</p>
        {% endif %}
    {% endwith %}

{#    {% for bb in bbs|dictsort:'price' %}#}
    {% for bb in bbs|dictsortreversed:'price' %}
        {% cycle 'b1' 'b2' 'b3' as currentclass %}
        <div class="{% cycle 'bg-secondary' 'bg-light' %}">
{#            <h2>{{ bb.title }}</h2>#}
            <h2 class="{{ currentclass }}">
                {#<a href="{% url 'read' bb.pk %}">#}
                <a href="{% url 'detail' pk=bb.pk %}">
                    {% if forloop.first %}
                        !
                    {% elif forloop.last %}
                        !!!
                    {% else %}
                        !!
                    {% endif %}

                    {{ forloop.counter }}. {{ bb.title_and_price }}
                </a>
            </h2>
            <p>{{ bb.content|truncatewords:3 }}</p>
            <p><a href="{{ bb.rubric.get_absolute_url }}">
                {{ bb.rubric.name|capfirst }}</a></p>
            <p>{{ bb.price|default:'Цены нет'|floatformat:5 }}</p>
            <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
            <p>{{ bb.published|date:"DATE_FORMAT" }}</p>
            <p>{% firstof bb.phone bb.email 'На деревню дедушке' %}</p>
        </div>
    {% endfor %}

{#    <p>#}
{#    {% for d in date_list %}#}
{#        {{ d.year }}#}
{#    {% endfor %}#}
{#    </p>#}
{#    <p>#}
{#    {% for obj in object_list %}#}
{#        {{ obj }}#}
{#    {% endfor %}#}
{#    </p>#}


{% endblock %}