{% extends "layout/basic.html" %}

{% block content %}

    <p>Количество записей: {{ page.count }}</p>

    <p>{{ block.super }}</p>

    {% if user.is_authenticated %}
    <h3>
        {# <a href="{% url 'authapp:logout' %}"> #}
        <a href="{% url 'logout' %}">
            Выйти ({{ user.username }})
        </a>
    </h3>
    {% else %}
        <h3>
            {# <a href="{% url 'authapp:login' %}"> #}
            <a href="{% url 'login' %}">
                Войти
            </a>
        </h3>
    {% endif %}

    {% for bb in bbs %}
        <div>
{#            <h2>{{ bb.title }}</h2>#}
            <h2>
                {#<a href="{% url 'read' bb.pk %}">#}
                <a href="{% url 'detail' pk=bb.pk %}">
                    {{ bb.title_and_price }}
                </a>
            </h2>
            <p>{{ bb.content }}</p>
            <p><a href="{{ bb.rubric.get_absolute_url }}">
                {{ bb.rubric.name }}</a></p>
            <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
        </div>
    {% endfor %}

{#    <p> #}
{#        {% if page.has_previous %} #}
{#            <a href="?page={{ page.previous_page_number }}">&lt;</a> #}
{#            &nbsp; &nbsp; | &nbsp; &nbsp; #}
{#        {% endif %} #}

{#        {% for i in page.paginator.page_range %} #}
{#            &nbsp; {{ i }} &nbsp; #}
{#        {% endfor %} #}

{#        № {{ page.number }} из {{ page.paginator.num_pages }} #}

{#        {% if page.has_next %} #}
{#            &nbsp; &nbsp; | &nbsp; &nbsp; #}
{#            <a href="?page={{ page.next_page_number }}">&gt;</a> #}
{#        {% endif %} #}
{#    </p> #}

    <p>
        {% if page.has_previous %}
            <a href="{% url 'page' page.previous_page_number %}">&#9664;</a>
            &nbsp; &nbsp; | &nbsp; &nbsp;
        {% endif %}

        {% for i in page.paginator.page_range %}
            &nbsp; {{ i }} &nbsp;
        {% endfor %}

        {% if page.has_next %}
            &nbsp; &nbsp; | &nbsp; &nbsp;
            <a href="{% url 'page' page.next_page_number %}">&#9654;</a>
        {% endif %}
    </p>

{% endblock content %}